body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    offset: hidden;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
    
}

#game-container {
    display: flex;
    width: 90%;
    max-width: 1100px;
    border: 2px solid #0f0;
    padding: 20px;
    box-shadow: 0 0 20px #0f0;
}

#main-content {
    flex-grow: 1;
    padding-right: 20px;
    
}

#sidebar {
    width: 200px;
    border-left: 2px solid #0f0;
    padding-left: 20px;
}

#sidebar h2, #sidebar h3 {
    color: #0f0;
}

#hp-display {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#inventory-list {
    list-style-type: none;
    padding: 0;
}

#inventory-list li {
    margin-bottom: 5px;
    width: fit-content;
}

#chat-box {
    height: 400px;
    overflow-y: hidden;
    border-bottom: 2px solid #0f0;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 1000px;

}

.player-message {
    color: #0ff;
}

.dm-message {
    color: #0f0;
}

#input-container {
    display: flex;
}

#player-input {
    flex-grow: 1;
    background-color: #111;
    border: 1px solid #0f0;
    color: #0f0;
    padding: 10px;
}

#send-btn, #reset-btn {
    background-color: #111;
    border: 1px solid #0f0;
    color: #0f0;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

#reset-btn {
    margin: auto;
    margin-top: 10px;
    width: 100%;
}

#image-container {
    justify-content: center;
    height: 300px;
    width: 600px;
    display: flexbox;
}
#titleImage {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}